---
- hosts: frontend
  become: true

  tasks:
    - name: Ensure Python3 is installed (Amazon Linux 2023)
      yum:
        name: python3
        state: present

    - name: Ensure pip is installed
      yum:
        name: python3-pip
        state: present

    # REMOVE SELINUX TASK (AL2023 does not use SELinux)
    # SELinux exists only in RHEL/CentOS, not Amazon Linux 2023

    - name: Install nginx
      yum:
        name: nginx
        state: present

    - name: Deploy nginx proxy config
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/nginx.conf
      notify:
        - restart nginx

  handlers:
    - name: restart nginx
      systemd:
        name: nginx
        state: restarted
