---
- hosts: backend
  become: true

  tasks:
    - name: Update APT cache
      apt:
        update_cache: yes

    - name: Install required dependencies
      apt:
        name:
          - curl
          - gnupg2
        state: present

    - name: Install Netdata (updated official script)
      shell: |
        bash <(curl -Ss https://install.netdata.cloud/kickstart.sh) --non-interactive
      args:
        executable: /bin/bash

    - name: Ensure Netdata service is running
      systemd:
        name: netdata
        state: started
        enabled: true
