---
- hosts: backend
  become: true
  tasks:

    - name: Update APT cache
      apt:
        update_cache: yes

    - name: Install required dependencies
      apt:
        name:
          - curl
          - sudo
        state: present

    - name: Install Netdata using official script
      shell: |
        bash -c "curl -L -Ss https://my-netdata.io/kickstart.sh | bash -s -- --non-interactive"
      args:
        creates: /usr/sbin/netdata

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes

    - name: Enable and start Netdata service
      systemd:
        name: netdata
        state: started
        enabled: yes
